
body{
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTwxo4HDpf-_0y9jWpkLD4zGdiU2oWRXx4qvvq0eIRt5cMvvnW0');
background-repeat:no-repeat;
background-size: cover;
height:800px;
width:1400px;
}