<table  class="table table-hover table-sm" >
    <thead class="thead-light">  
        <tr>  
            <th>COMPANYCODE</th> 
            <th>STOCKEXCHANGE</th>  
            <th>CURRENTPRICE</th>  
            
        </tr>  
    </thead>  
    <tbody>  
        <tr *ngFor="let stockprice of stockpriceList">  
           <td>{{stockprice.companyCode}}</td>  
           <td>{{stockprice.stockExchange}}</td>  
           <td>{{stockprice.currentPrice}}</td> 
           <td> <button (click)="deleteStockPrice(stockprice)" class='btn btn-danger'>Delete</button></td> 
           <td> <button (click)="updateStockPrice(stockprice)" class='btn btn-danger'>Update</button></td> 
 
           
           </tr>
           </tbody>
</table>



