
body{
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcScGO6ZT5vLx7XuqfQMMXDA3_ilau81MI2sJ3vSBPaZngqVP3rl');
background-repeat:no-repeat;
background-size: cover;
height:800px;
width:1400px;
}