
body{
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTiC-5vaNF4D7Q69cf37ck1CvnEyOLe7V6fWB_p0ViwDn8--ZC0');
background-repeat:no-repeat;
background-size: cover;
height:520px;
width:1400px;
}