h1{
    text-align:center;
}

body{
    background-image:url('https://images.pexels.com/photos/590041/pexels-photo-590041.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
background-repeat:no-repeat;
background-size: cover;
height:700px;
width:1150px;
}