
    body{
        background-image:url("https://images.pexels.com/photos/238118/pexels-photo-238118.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-repeat:no-repeat;
    background-size: cover;
    height:400px;
    width:1300px;
    }