<table  class="table table-hover table-sm" >
    <thead class="thead-light">  
        <tr>  
            <th> Id</th> 
            <th>SECTORNAME</th>  
            <th> BRIEF</th>  
            
        </tr>  
    </thead>  
    <tbody>  
        <tr *ngFor="let sector of sectorList">  
           <td>{{sector.id}}</td>  
           <td>{{sector.sectorName}}</td>  
           <td>{{sector.brief}}</td>
           <td> <button (click)="deleteSector(sector)" class='btn btn-danger'>Delete</button></td>   
           <td> <button (click)="updateSectors(sector)" class='btn btn-danger'>Update</button></td>   
           </tr>
           </tbody>
</table>


