<table  class="table table-hover table-sm" >
    <thead class="thead-light">  
        <tr>  
            <th> Id</th> 
            <th>EMAIL</th>  
            <th> USERNAME</th>  
            <th>USERTYPE</th>  
            <th>PASSWORD</th> 
            <th> CONFIRMED</th>  
            <th> MOBILENUMBER</th>   
        </tr>  
    </thead>  
    <tbody>  
        <tr *ngFor="let user of userList">  
           <td>{{user.id}}</td>  
           <td>{{user.email}}</td>  
           <td>{{user.userName}}</td>  
           <td>{{user.userType}}</td>  
           <td>{{user.password}}</td>  
           <td>{{user.confirmed}}</td>  
           <td>{{user.mobileNumber}}</td> 
           <td> <button (click)="deleteUser(user)" class='btn btn-danger'>Delete</button></td> 
           <td> <button (click)="updateUser(user)" class='btn btn-danger'>Update</button></td> 

           </tr>
           </tbody>
</table>
